
<div class="container">
    <h1 class="title">Enter your country</h1>

<form action = "/searchCountry" method = "GET">
<label>
<input type="text" class="countryInput" name="countryName" placeholder="Enter a country name">
</label>
<button class="searchButton" type= "submit">Search</button>
</form>
</div>


