
{{!--     
            <input type="text" class="countryInput" placeholder="Enter a country name">
            <button class="searchButton">Search</button>
        {{!-- </div> --}}

      <div class="container">
            <div class="search">
        <form action = "/name" method = "get"> 
<input type="text" class="countryInput" placeholder="Enter a country name">
            <button class="searchButton" type= "submit">Search</button>
        </form>
       </div>
        </div> --}}

<form action = "/searchCountry" method = "GET">
<label>
Island name
<input type = "text" name = "countryName">
</label>
<button type = "submit">SEARCH</button>
</form>






        </form>