<h1> Log in</h1>

<form class="login" action="/log-in" method = "POST">
<label>Email</label>
<br>
<input class="email" type = "email" name = "email">
<br>
<label>Password</label> 
<br>
<input class="password" type = "password" name = "password">
<br>
<button type="submit">Log in</button>
</form>



{{#if errorMessage}}
<p style = "color: red;">{{errorMessage}}</p>
{{/if}}
